<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PackageActivity</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Packages</display-name>
    <servlet-name>Packages</servlet-name>
    <servlet-class>com.extremepark.Packages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Packages</servlet-name>
    <url-pattern>/Packages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pacakge</display-name>
    <servlet-name>Pacakge</servlet-name>
    <servlet-class>AddPackage.controller.Pacakge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pacakge</servlet-name>
    <url-pattern>/Pacakge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPackage</display-name>
    <servlet-name>AddPackage</servlet-name>
    <servlet-class>AddPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPackage</servlet-name>
    <url-pattern>/AddPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPackage</display-name>
    <servlet-name>ListPackage</servlet-name>
    <servlet-class>ListPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPackage</servlet-name>
    <url-pattern>/ListPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackage</display-name>
    <servlet-name>UpdatePackage</servlet-name>
    <servlet-class>UpdatePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackage</servlet-name>
    <url-pattern>/UpdatePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPackage</display-name>
    <servlet-name>ViewPackage</servlet-name>
    <servlet-class>ViewPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPackage</servlet-name>
    <url-pattern>/ViewPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePackage</display-name>
    <servlet-name>DeletePackage</servlet-name>
    <servlet-class>DeletePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePackage</servlet-name>
    <url-pattern>/DeletePackage</url-pattern>
  </servlet-mapping>
</web-app>